body {
    background-color: cadetblue;
}

h1 {
    color:rgb(209, 23, 23); 
}

h3 {
    color:  bisque;
    font-size: 40px;
}

.nomeVisitante{
    color: blanchedalmond;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.botao{
    height: 30px;
    width: 200px;
    background-color: blueviolet;
    color: aquamarine;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(5, 46, 48);
    color: black;
}